{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>gmarker</title>

        <!-- css -->
        <link rel="stylesheet" href="{% static 'gmarker/css/reset.css' %}"> 
        <link rel="stylesheet" href="{% static 'gmarker/css/index.css' %}">
        <!-- favicon -->
        <link rel="icon" href="{% static 'gmarker/c_g.ico' %}">

        <!-- googlemap api -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVmLC9mqjz2dXHMK7OhQSYG-P3cKRq4Ck" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

        <!-- jsonファイルを読み込んだりする js -->
        <script src="{% static 'gmarker/js/map.js' %}"></script>

        <!-- for ajax -->
        <script>let myurl = {"base": "{% url 'mrk:index' %}"};</script>
    </head>

    <!-- body の load のタイミングで json を読んでマーキングする -->
    <body onload="mapinit('{{ unit }}')">

        <h1></h1>
        <header>
            <ul class="right_align">
                <li><a href="{% url 'vnm:index' %}">VIETNAM</a></li>
                <li><a href="{% url 'mrk:index' %}">GMARKER</a></li>
                <li><a href="{% url 'shp:index' %}">SHOPPING</a></li>
                <li><a href="{% url 'upl:index' %}">UPLOADER</a></li>
                <li><a href="{% url 'war:index' %}">WAREHOUSE</a></li>
                {% if user.is_authenticated %}
                    <li>{{ user.username }}さん</li>
                {% else %}
                    <li>ゲストさん</li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="logout"><a href="{% url 'register:logout' %}">LOGOUT</a></li>
                {% else %}
                    <li class="logout"><a href="{% url 'register:login' %}">LOGIN</a></li>
                {% endif %}
            </ul>
        </header>
    
        <div id="main">
            <!-- 地図の生成 -->
            <div class="wrapper">
                <div id="shopinfomation"></div>
                <div id="map_canvas1" style="width: 500px; height: 500px"></div>
            </div>

            <h2>サーバーサイド</h2>
            <h3>カテゴリー2</h3>
            <form class="specific_form">
                {% csrf_token %}
                <input type="button" class="btn-flat-border" value="2" onclick="do_pattern2(this)"> 1回押すと管理者選択モード、marker[0+]選択後に2回目を押すと選択したピンが表示される
            </form>

            <h2>クライアントサイド</h2>
            <h3>カテゴリー1</h3>
            <form class="specific_form" action="{% url 'mrk:index_search' '1A' %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn-flat-border" value="ラーメン" /> My拠点を中心に半径1500mのラーメン屋のピンが表示される
            </form>
            <form class="specific_form" action="{% url 'mrk:index_search' '1B' %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn-flat-border" value="洋食" /> My拠点を中心に半径1500mの洋食屋のピンが表示される
            </form>
            <form class="specific_form" action="{% url 'mrk:index_search' '1C' %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn-flat-border" value="和食" /> My拠点を中心に半径1500mの和食屋のピンが表示される
            </form>
            <h3>カテゴリー3</h3>
            <form class="specific_form" action="{% url 'mrk:index_search' '3' %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn-flat-border" value="3" /> 手で登録したピンが表示される
            </form>
        </div>

        <footer>
            <p>© 2019 henojiya. / <a href="https://github.com/duri0214" target="_blank">github portfolio</a></p>
        </footer>

    </body>

</html>
