{% extends "gmarker/base.html" %}
{% load static %}

{% block content %}
    <!-- 地図の生成 -->
    <div class="wrapper">
        <div id="shopinfomation"></div>
        <div id="map_canvas1" style="width: 500px; height: 500px"></div>
    </div>

    <h2>サーバーサイド</h2>
    <h3>カテゴリー2</h3>
    <form class="specific_form">
        {% csrf_token %}
        <input type="button" class="btn-flat-border" value="2" onclick="do_pattern2(this)"> 1回押すと管理者選択モード、marker[0+]選択後に2回目を押すと選択したピンが表示される
    </form>

    <h2>クライアントサイド</h2>
    <h3>カテゴリー1</h3>
    <form class="specific_form" action="{% url 'mrk:index_search' '1A' %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn-flat-border" value="ラーメン" /> My拠点を中心に半径1500mのラーメン屋のピンが表示される
    </form>
    <form class="specific_form" action="{% url 'mrk:index_search' '1B' %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn-flat-border" value="洋食" /> My拠点を中心に半径1500mの洋食屋のピンが表示される
    </form>
    <form class="specific_form" action="{% url 'mrk:index_search' '1C' %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn-flat-border" value="和食" /> My拠点を中心に半径1500mの和食屋のピンが表示される
    </form>
    <h3>カテゴリー3</h3>
    <form class="specific_form" action="{% url 'mrk:index_search' '3' %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn-flat-border" value="3" /> 手で登録したピンが表示される
    </form>
{% endblock %}
