{% extends 'shopping/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'shopping/css/staff/detail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h3>店員プロフィール</h3>
        <div class="card card-one">
            <header>
                <div class="avatar">
                    <img src="{{ object.image.url }}" alt="missing picture"/>
                </div>
            </header>

            <h3>{{ object.name }}</h3>
            <div class="desc">
                {{ object.description }}
            </div>
            <div class="contacts">
                <a href="{% url 'shp:staff_edit' object.pk %}"><i class="fa fa-pencil-square-o"></i></a>
                <div class="clear"></div>
            </div>
            <footer>（ここはフッターのエリアです）</footer>
        </div>
        <div class="clear"></div>
    </div>
    <a href="{% url 'shp:index' %}" role="button" class="btn btn-outline-secondary mx-1">戻る</a>
{% endblock %}
