{% extends 'shopping/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shopping/css/staff/detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="page-title">店員プロフィール</h3>

        <div class="profile-card">
            <div class="profile-header">
                <div class="profile-avatar">
                    {% if object.image %}
                        <img src="{{ object.image.url }}" alt="{{ object.name }}"/>
                    {% else %}
                        <i class="fas fa-user-circle"></i>
                    {% endif %}
                </div>
            </div>

            <div class="profile-body">
                <div class="profile-name">{{ object.name }}</div>
                <div class="profile-description">{{ object.description }}</div>

                <div class="profile-action">
                    <a href="{% url 'shp:staff_edit' object.pk %}" class="edit-button">
                        <i class="fas fa-edit"></i> 編集
                    </a>
                </div>
            </div>

            <div class="profile-footer">
                （ここはフッターのエリアです）
            </div>
        </div>

        <div class="back-link">
            <a href="{% url 'shp:index' %}" class="back-button">
                <i class="fas fa-arrow-left"></i> 戻る
            </a>
        </div>
    </div>
{% endblock %}
