{% extends 'shopping/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shopping/css/staff/edit.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="page-title">店員プロフィール（編集）</h3>

        <div class="edit-form-card">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-fields">
                    {{ form.as_p }}
                </div>
                <div class="form-actions">
                    <button class="submit-button" type="submit">
                        <i class="fas fa-save"></i> 保存
                    </button>
                    <a href="{% url 'shp:staff_detail' object.pk %}" class="cancel-button">
                        <i class="fas fa-arrow-left"></i> 戻る
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
