{% extends "soil_analysis/base.html" %}
{% load static %}

{% block header %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'soil:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'soil:land_list' company.id %}">Land List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>新規作成</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-primary mb-3">送信</button>
        </form>
    </div>
    <script>
        {# latlon のフォームが focus out(blur) したときに発火 #}
        document.getElementById("id_latlon").addEventListener("blur", function () {
            fetch("{% url 'soil:land_location_info' %}", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': Cookies.get('csrftoken')
                },
                body: JSON.stringify({latlon: this.value})
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        // TODO: ドロップダウンにして自動的にセレクト（うまくいかなかったら未選択にする）
                        document.getElementById("id_jma_city").value = data.jma_city;
                        document.getElementById("id_jma_prefecture").value = data.jma_prefecture;
                    }
                });
        });
    </script>
{% endblock %}

