{% extends "soil_analysis/base.html" %}
{% load static %}

{% block header %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'soil:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'soil:land_list' company.id %}">Land List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>新規作成</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-primary mb-3">送信</button>
        </form>
    </div>
    <script>
        function clearDropdown(selectElement) {
            selectElement.innerHTML = ''
            const defaultOption = document.createElement('option')
            defaultOption.value = ""
            defaultOption.text = "選択してください"
            defaultOption.selected = true
            selectElement.appendChild(defaultOption)
        }

        /**
         * 指定された都道府県 ID に基づいて都市データを取得し、それに応じて都市ドロップダウン オプションを設定します
         * 都道府県 ID が指定されていない場合、都市のドロップダウンはクリアされます
         *
         * @param {string} prefectureId - The ID of the prefecture.
         */
        async function fetchCities(prefectureId) {
            const citySelect = document.getElementById("id_jma_city")
            clearDropdown(citySelect)

            if (prefectureId) {
                const response = await fetch(`/soil_analysis/prefecture/${prefectureId}/cities`, {
                    method: "GET",
                })
                const data = await response.json()

                data.cities.map(city => {
                    const cityOption = document.createElement('option')
                    cityOption.value = city.id
                    cityOption.text = city.name
                    citySelect.appendChild(cityOption)
                })
            }
        }

        document.getElementById("id_latlon").addEventListener("change", async function () {
            const latlon = this.value
            const prefectureSelect = document.getElementById("id_jma_prefecture")
            const citySelect = document.getElementById("id_jma_city")

            if (latlon) {
                const response = await fetch("{% url 'soil:land_location_info' %}", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': Cookies.get('csrftoken')
                    },
                    body: JSON.stringify({latlon})
                })
                const data = await response.json()

                if (data.error) {
                    alert(data.error)
                } else {
                    const prefecturesResponse = await fetch('{% url 'soil:prefectures' %}')
                    const prefecturesData = await prefecturesResponse.json()
                    prefectureSelect.innerHTML = ''

                    prefecturesData.prefectures.map(pref => {
                        const prefOption = document.createElement('option')
                        prefOption.value = pref.id
                        prefOption.text = pref.name
                        prefectureSelect.appendChild(prefOption)
                    })

                    prefectureSelect.value = data.jma_prefecture_id
                    await fetchCities(data.jma_prefecture_id)
                    citySelect.value = data.jma_city_id
                }
            } else {
                await fetchCities(undefined)
            }
        })

        document.getElementById("id_jma_prefecture").addEventListener("change", function () {
            fetchCities(this.value)
        })
    </script>
{% endblock %}

