DJANGO_DEBUG_MODE=True
DJANGO_SECRET_KEY=
DJANGO_DB_PASSWORD=
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
GOOGLE_MAPS_API_KEY=
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
STRIPE_API_KEY=
SLACK_CHANNEL_ID=
SLACK_WEBHOOK_URL=
JIRA_YOUR_DOMAIN=
JIRA_API_KEY=
EDINET_API_KEY=
YAHOO_DEV_API_KEY=

OPENAI_API_KEY=
GEMINI_API_KEY=
