__pycache__/
import/
favicon/
output/
migrations/
data/
__init__.py
result.log
db.sqlite3
/.idea/
/venv/
/mysite/vietnam_research/static/vietnam_research/chart/*.png
/.vagrant/
mysql_dump.sql
mysite/.env
