body {
    padding-top: 48px;
}

.jumbotron li {
    display: inline-block;
    list-style-type: none;
    padding-top: 4px;
}

/* Base */
.gf {
    font-family: 'Concert One', cursive;
    font-weight: normal;
}

/* category */
.eye-catch .cat-name {
    font-size: .6em;
}

.eye-catch .cat-name {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    background: #fcee21;
    color: #444;
    font-size: 0.7em;
    font-weight: bold;
    padding: 0.1em 0.5em;
    min-width: 8em;
    opacity: .9;
    filter: alpha(opacity=90);
}

/* card型 */
.post-list-card .post-list {
    width: 31.3%;
    margin: 0 1% 2.5%;
    float: left;
    height: 390px;
}

.post-list-card .post-list a {
    display: block;
    padding: .6em;
    color: #333;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .13);
    text-decoration: none;
}

.post-list-card .post-list .eye-catch img {
    width: 100%;
}

.post-list-card .post-list a:hover .eye-catch img {
    transform: scale(1.05);
}

.post-list-card .post-list .eye-catch {
    margin: -.6em -.6em .5em;
}

.post-list-card .post-list .description {
    opacity: 0.7;
    font-size: .85em;
}

.post-list-card .post-list .entry-content .entry-title {
    font-size: 1.15em;
    margin-top: 0.5em;
}

.post-list-card .post-list .entry-content p {
    font-size: .9em;
    margin-bottom: 0.3em;
}

footer {
    clear: both;
}