{% extends 'warehouse/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'warehouse/css/item/detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h4>アイテム詳細</h4>
        <ul>
            <li>名称: {{ object.name }}</li>
            <li>金額: {{ object.price }}円</li>
        </ul>
        <form method="GET" class="registration" action="{% url 'war:index' %}">
            {% csrf_token %}
            <button type="submit">戻る</button>
        </form>
    </div>
{% endblock %}
