{% extends "taxonomy/base.html" %}
{% load static %}
{% block content %}
    <div class="custom-section bg-light p-5 rounded">
        <h1 class="display-4">Let's analyze Taxonomy!</h1>
        <p class="lead">it's interesting Taxonomy</p>
        <hr class="my-4">
        <p>You can understand taxonomies</p>
        <ul class="list-items">
            <li><a class="btn btn-secondary btn-sm disabled" href="#" role="button">界(kingdom)のメンテナンス</a>
            </li>
            <li><a class="btn btn-secondary btn-sm disabled" href="#"
                   role="button">門(phylum)のメンテナンス</a></li>
            <li><a class="btn btn-secondary btn-sm disabled" href="#" role="button">綱(classification)のメンテナンス</a>
            </li>
            <li><a class="btn btn-secondary btn-sm disabled" href="#"
                   role="button">科(family)のメンテナンス</a></li>
            <li><a class="btn btn-secondary btn-sm disabled" href="#"
                   role="button">属(genus)のメンテナンス</a></li>
            <li><a class="btn btn-secondary btn-sm disabled" href="#" role="button">種(species)のメンテナンス</a>
            </li>
            <li><a class="btn btn-secondary btn-sm disabled" href="#"
                   role="button">品種(breed)のメンテナンス</a></li>
            <li><a class="btn btn-secondary btn-sm disabled" href="#"
                   role="button">タグ(tag)のメンテナンス</a></li>
            <li><a class="btn btn-secondary btn-sm disabled" href="#"
                   role="button">品種とタグの紐づけ</a></li>
        </ul>
        <ul class="list-items">
            <li><a class="btn btn-outline-primary" href="#chicken-chart-section" role="button">鶏の観察グラフ</a></li>
        </ul>
    </div>
    <section class="container">
        <h3>分類グラフ</h3>
        <div id="chicken-classification-chart">
            <div class="text">See one-liners for each transition</div>
            <script>
                const dataSpec = {
                    source: JSON.parse('{{ data|safe }}'),
                    key: "name",
                };
                const myChart = d3.indentedTree(dataSpec);
                d3.select("#chicken-classification-chart").append("div").attr("class", "chart").call(myChart);
            </script>
        </div>
    </section>
    <section class="container">
        <h3>餌の量と卵生産量の推移</h3>
        <div id="feed-vs-egg-chart" data-feed-data='{{ feed_vs_egg }}'></div>
    </section>
    <section class="container">
        <h3>フィードグループ別の産卵率推移</h3>

        {% for group in feed_group_laying_rate %}
            <h5>フィードグループ: {{ group.feed_group }}</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">日付</th>
                    <th scope="col">産卵率</th>
                </tr>
                </thead>
                <tbody>
                {% for item in group.data %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td>{{ item.laying_rate }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </section>
{% endblock %}
