{% extends "taxonomy/base.html" %}
{% load static %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Let's analyze Taxonomy!</h1>
        <p class="lead">it's interesting Taxonomy</p>
        <hr class="my-4">
        <p>You can understand taxonomies</p>
        <ul>
            <li><a class="btn btn-secondary btn-sm" href="{% url 'txo:kingdom_create' %}" role="button">界(kingdom)のメンテナンス</a>
            </li>
            <li><a class="btn btn-secondary btn-sm" href="{% url 'txo:phylum_create' %}"
                   role="button">門(phylum)のメンテナンス</a></li>
            <li><a class="btn btn-secondary btn-sm" href="{% url 'txo:classification_create' %}" role="button">綱(classification)のメンテナンス</a>
            </li>
            <li><a class="btn btn-secondary btn-sm" href="{% url 'txo:family_create' %}"
                   role="button">科(family)のメンテナンス</a></li>
            <li><a class="btn btn-secondary btn-sm" href="{% url 'txo:genus_create' %}"
                   role="button">属(genus)のメンテナンス</a></li>
            <li><a class="btn btn-secondary btn-sm" href="{% url 'txo:species_create' %}" role="button">種(species)のメンテナンス</a>
            </li>
            <li><a class="btn btn-secondary btn-sm" href="{% url 'txo:breed_create' %}"
                   role="button">品種(breed)のメンテナンス</a></li>
            <li><a class="btn btn-secondary btn-sm" href="{% url 'txo:tag_create' %}"
                   role="button">タグ(tag)のメンテナンス</a></li>
            <li><a class="btn btn-secondary btn-sm" href="{% url 'txo:breed_tags_update' %}"
                   role="button">品種とタグの紐づけ</a></li>
            <li><a class="btn btn-secondary btn-sm" href="#relations" role="button">関係図</a></li>
        </ul>
    </div>
    <div id="chart-area" class="container">
        <div class="text">See one-liners for each transition</div>

        <script>
            const dataSpec = {
                source: JSON.parse('{{ data|safe }}'),
                key: "name",
            };
            const myChart = d3.indentedTree(dataSpec);
            d3.select("#chart-area").append("div").attr("class", "chart").call(myChart);
        </script>
    </div>

{% endblock %}
