{% extends "taxonomy/base.html" %}
{% block content %}
    <section class="container">
        <h3>観察データ</h3>
        <h4>餌の量と卵生産量の推移</h4>
        <div id="feed-vs-egg-chart" data-feed-data='{{ feed_vs_egg }}'></div>
    </section>

    <section class="container">
        <h4>フィードグループ別の産卵率推移</h4>
        {% for group in feed_group_laying_rate %}
            <h5>フィードグループ: {{ group.feed_group }}</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">日付</th>
                    <th scope="col">産卵率</th>
                </tr>
                </thead>
                <tbody>
                {% for item in group.data %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td>{{ item.laying_rate }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </section>
{% endblock %}
