{% extends "securities/base.html" %}
{% load static %}
{% block header %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'securities:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Upload EDINETコードリスト</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <h1>EDINETコードリストのアップロード</h1>
    <p>Edinetcode_yyyymmdd.zip をアップロードしてください</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-primary mb-3" type="submit">Upload</button>
    </form>
{% endblock %}
