{% extends "securities/base.html" %}
{% load static %}
{% block extra_head %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'securities:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Upload EDINETコードリスト</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>EDINETコードリストのアップロード</h1>
        <p>EDINETコードリスト（Edinetcode_yyyymmdd.zip） を <a
                href="https://disclosure2.edinet-fsa.go.jp/weee0010.aspx#TXT_TITLE_CODE"
                target="_blank">ダウンロード</a>
            してアップロードしてください</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary mb-3" type="submit">Upload</button>
        </form>
    </div>
{% endblock %}
