{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43097095-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-43097095-9');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>gmarker</title>

    <!-- bootstrap and css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'gmarker/css/index.css' %}">
    <!-- favicon -->
    <link rel="icon" href="{% static 'gmarker/c_g.ico' %}">

    <!-- googlemap api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6roBW6Rh_VGhKmk1IscSyqsZWnIqzz_s&callback=Function.prototype"
            type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <!-- jsonファイルを読み込んだりする js -->
    <script src="{% static 'gmarker/js/map.js' %}"></script>

    <!-- for ajax -->
    <script>let myurl = {"base": "{% url 'mrk:index' %}"};</script>
</head>

<body onload="mapinit('{{ unit }}')">
<h1></h1>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Henojiya</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-link">{{ user.username }}さん</li>
                {% else %}
                    <li class="nav-link">ゲストさん</li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-link"><a href="{% url 'register:logout' %}">LOGOUT</a></li>
                {% else %}
                    <li class="nav-link"><a href="{% url 'register:login' %}">LOGIN</a></li>
                {% endif %}
                <select class="select2-1" onChange="location.href=value;">
                    <option></option>
                    <option value="{% url 'vnm:index' %}">VIETNAM</option>
                    <option value="{% url 'mrk:index' %}" selected>GMARKER</option>
                    <option value="{% url 'shp:index' %}">SHOPPING</option>
                    <option value="{% url 'war:index' %}">WAREHOUSE</option>
                    <option value="{% url 'txo:index' %}">TAXONOMY</option>
                </select>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<div id="main">
    {% block content %}{% endblock %}
</div>
<footer>
    <p>© 2019 henojiya. / <a href="https://github.com/duri0214" target="_blank">github portfolio</a></p>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

<!-- for select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(function () {
        $('.select2-1').select2({
            // コントロールのプレースホルダを指定します。
            placeholder: 'Please Select',
        });
    });
</script>
<link rel="stylesheet" href="{% static 'vietnam_research/css/index_select2.css' %}">
</body>
</html>
