{% extends "gmarker/base.html" %}
{% load static %}

{% block content %}
    <div class="custom-section bg-light p-5 rounded">
        <h1 class="display-4">Let's analyze Google Map</h1>
        <p class="lead">it's interesting Google map</p>
        <hr class="my-4">
        <p>My拠点を中心に半径1500mの Category のピンが表示される</p>
        <ul class="list-items">
            <li><a class="btn btn-secondary btn-sm" href="{% url 'mrk:coordinate_create' %}"
                   role="button">中心座標の編集</a></li>
            <li>
                <a
                        href="#"
                        class="btn btn-outline-primary"
                        onclick="submitSearchForm(1, 'restaurant')"
                >
                    レストラン
                </a>
            </li>
            <li>
                <a
                        href="#"
                        class="btn btn-outline-primary"
                        onclick="submitSearchForm(1, 'hotel')"
                >
                    ホテル
                </a>
            </li>
            <li>
                <a
                        href="#"
                        class="btn btn-outline-secondary"
                        onclick="submitSearchForm(2, 'presets')"
                >
                    Presets
                </a>
            </li>
        </ul>
        <!-- 非表示のフォーム -->
        <form id="searchForm" action="{% url 'mrk:nearby_search' 1 %}" method="POST" style="display: none;">
            {% csrf_token %}
            <input type="hidden" name="search_types" id="searchTypesInput">
        </form>
    </div>

    <div class="container mt-4">
        <h4 class="card-title">Map Canvas</h4>
        <div id="map_canvas1" class="card p-3 shadow-sm" style="width: 100%; height: 500px"></div>
    </div>

    <div class="container mt-4">
        <h4 class="card-title">レビュー一覧</h4>
        {% for place in places %}
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h5>{{ place.name }}</h5>
                    <p>Place ID: {{ place.place_id }}</p>
                    <p>Rating: {{ place.rating }}</p>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">投稿者</th>
                            <th scope="col">レビュー内容</th>
                            <th scope="col">投稿日時</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for review in place.reviews %}
                            <tr>
                                <td>{{ review.author }}</td>
                                <td>{{ review.review_text }}</td>
                                <td>{{ review.publish_time }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3" class="text-center">レビューは見つかりませんでした。</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        function submitSearchForm(searchCode, searchType) {
            // フォームの`action`属性を動的に変更
            const form = document.getElementById("searchForm");
            form.action = `/gmarker/search/${searchCode}`;

            // hidden input に searchType をセット
            document.getElementById("searchTypesInput").value = searchType;

            // フォームを送信
            form.submit();
        }
    </script>
{% endblock %}
