{% extends "gmarker/base.html" %}
{% load static %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Hello, googlemap!</h1>
        <div id="placeInformation"></div>
        <div id="map_canvas1" style="width: 1000px; height: 500px"></div>
    </div>

    <h5>カテゴリーサーチ</h5>
    <form class="ml-4" action="{% url 'mrk:nearby_search' 1 %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn-flat-border" value="レストラン"/> My拠点を中心に半径1500mのレストランのピンが表示される
    </form>
{% endblock %}
