{% extends "gmarker/base.html" %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Let's analyze Google Map Information!</h1>
        <p class="lead">it's interesting Google map</p>
        <hr class="my-4">
        <p>You can set center position</p>
        <ul>
            <li><a class="btn btn-secondary btn-sm" href="#" role="button">ダミーボタン</a></li>
        </ul>
    </div>

    <h5>カテゴリーサーチ</h5>
    <form class="ml-4" action="{% url 'mrk:nearby_search' 1 %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn-flat-border" value="レストラン"/> My拠点を中心に半径1500mのレストランのピンが表示される
    </form>
{% endblock %}
