body { padding-top: 48px; }
.jumbotron li
{
  display: inline-block;
  list-style-type: none;
  padding-top: 4px;
}
#uptrends_wrapper li {
  display: inline-block;
}
.uptrends {
  position: relative;
}
.uptrends p {
  position: absolute;
  margin: 0;
  color: white;
  font-weight: bold;
  font-family :Kameron, sans-serif;
  top: 0;
  left: 31px;
  padding: 5px 10px;
  font-size: 12px;
}
.watchlist li
{
  display: inline-block;
  list-style-type: none;
  padding-top: 4px;
}
