.header {
    background-color: rgb(53, 211, 211);
    width: 1000px;
    height: 200px;
}
.left {
    display: flex;
    background-color: rgb(120, 112, 226);
    width: 500px;
    height: 200px;
}
.leftchild {
    background-color: rgb(69, 180, 245);
    border: 1px solid red ;
    width: 200px;
    height: 150px;
}
.right {
    background-color: rgb(221, 184, 63);
    width: 500px;
    height: 200px;
}
.footer {
    background-color: rgb(230, 132, 221);
    width: 1000px;
    height: 200px;
}

/* 追記 */
.wrapper {
    display: flex;
    width: 1000px;
    height: 200px;
}