{% extends 'warehouse/base.html' %}
{% load static %}
{% load humanize %}

{% block style %}
    <link rel="stylesheet" href="{% static 'warehouse/css/index.css' %}">
{% endblock %}

{% block content %}
    <h2>menu</h2>
    <ul>
        <li><a href="{% url 'war:register' %}">アイテム登録</a></li>
        <li><a href="{% url 'war:invoice_create' %}">請求書発行</a></li>
        <li>請求書照会
            <a href="{% url 'war:invoice_inquiry' 1 %}">請求中</a>
            <a href="{% url 'war:invoice_inquiry' 2 %}">請求完了</a>
            <a href="{% url 'war:invoice_inquiry' 3 %}">請求無効</a>
        </li>
        <li>
            <form method="post" action="{% url 'war:reset' %}">
                {% csrf_token %}
                <button type="submit">リセット</button>
            </form>
        </li>
        <li>返却</li>
    </ul>

    <h2>Out of Stocks</h2>
    {% for item in non_available_items %}
        {% if item.rental_status.name == '貸出中' %}
            <p class="out-of-stock">{{ item.rental_status.name }}: {{ item.name }}</p>
        {% else %}
            <p class="choose">{{ item.rental_status.name }}: {{ item.name }}</p>
        {% endif %}
    {% endfor %}

    <h2 id="info">在庫リスト</h2>
    <h3>棚のどこにありますか？</h3>
    <table class="shelf-matrix">
        {% for row in shelf %}
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <h3>貸し出しできるアイテム</h3>
    <table class="shelf-list">
        <thead>
            <tr>
                <td>段</td>
                <td>列</td>
                <td>シリアルナンバー</td>
                <td>アイテム名</td>
                <td>金額</td>
            </tr>
        </thead>
        <tbody>
            {% for item in available_items %}
                <tr>
                    <td>{{ item.pos_y }}</td>
                    <td>{{ item.pos_x }}</td>
                    <td>{{ item.serial_number }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}円</td>
                    <td><a href="{% url 'war:detail' item.pk %}">詳細</a></td>
                    <td>
                        <form method="post" action="{% url 'war:index_choose' item.id %}">
                            {% csrf_token %}
                            <button type="submit">貸出</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
