{% extends 'warehouse/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'warehouse/css/register.css' %}">
{% endblock %}

{% block content %}
<h2>登録</h2>
<form action="{% url 'war:register' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">送信</button>
</form>
    <form method="GET" class="registration" action="{% url 'war:index' %}">
        {% csrf_token %}
        <button type="submit">戻る</button>
    </form>
{% endblock %}
