{% extends "soil_analysis/base.html" %}
{% load static %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
        </ol>
    </nav>
    <a class="btn btn-outline-primary mb-3" href="{% url 'soil:company_list' %}" role="button">農業法人の一覧</a>
    <a class="btn btn-outline-primary mb-3" href="{% url 'soil:hardness_upload' %}"
       role="button">土壌硬度データ取り込み</a>
    <a class="btn btn-outline-primary mb-3" href="{% url 'soil:route_suggest_upload' %}"
       role="button">圃場ルートサジェスト（試作）</a>
{% endblock %}
