{% extends "soil_analysis/base.html" %}
{% load static %}

{% block extra_header %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'soil:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'soil:hardness_upload' %}">Upload hardness</a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'soil:hardness_association' %}">Association</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Individual</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <h1>データの関連付け</h1>
    <form method="post" action="{% url 'soil:hardness_association_individual' memory_anchor land_ledger %}"
          enctype="multipart/form-data">
        {% csrf_token %}
        <input class="btn btn-outline-primary mb-3" type="submit" name="button" value="送信">
        <table class="table table-bordered table-gray table-striped">
            <thead>
            <tr>
                <th>memory</th>
                <th>datetime</th>
                <th>count</th>
                <th class="centered">圃場ブロック</th>
            </tr>
            </thead>
            <tbody>
            {% for measurement in object_list %}
                <tr>
                    <td>{{ measurement.set_memory }}</td>
                    <td>{{ measurement.set_datetime|date:"Y-m-d" }}</td>
                    <td>{{ measurement.cnt }}</td>
                    <td>
                        <select class="form-select" name="land-blocks[]" required aria-label="圃場ブロックを選択">
                            <option selected disabled value="">選択してください</option>
                            {% for land_block in land_blocks %}
                                <option value="{{ land_block.pk }}">{{ land_block.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}
