.land-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.grid-square {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: all 0.2s;
}

.grid-square:hover {
    filter: brightness(0.9);
}

.tooltip-inner {
    max-width: 350px !important;
    text-align: left;
    padding: 10px;
}
