.select2-container--default .select2-selection--single {
    width: 170px;
    padding-top: 5px;
    height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    left: 140px;
    top: 7px;
}
