{% extends 'shopping/base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shopping/css/index.css' %}">
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

    <div class="custom-section bg-light p-5 rounded">
        <h1 class="display-4">Let's buy PIZZA!</h1>
        <p class="lead">yummy yummy pizza</p>
        <hr class="my-4">
        <p>You can buy and manage pizza system.</p>
        <div class="d-flex gap-2">
            <a class="btn btn-primary btn-lg" href="{% url 'shp:staff_create' %}" role="button">
                店員作成
            </a>
            <a class="btn btn-success btn-lg" href="{% url 'shp:product_create_single' %}" role="button">
                単品登録
            </a>
            <a class="btn btn-warning btn-lg" href="{% url 'shp:product_create_bulk' %}" role="button">
                CSV登録
            </a>
        </div>
    </div>

    <div class="container">
        <h2>｜店員一覧</h2>
        {% if staffs %}
            {% for staff in staffs %}
                {% if staff.image %}
                    <img src="{{ staff.image.url }}" width="100px" alt="{{ staff.name }}">
                {% else %}
                    <i class="fas fa-user-circle" style="font-size: 100px; color: #6c757d;"></i>
                {% endif %}
                {{ staff.name }}
                <a class="small" href="{% url 'shp:staff_detail' staff.pk %}">プロフィール</a>
            {% endfor %}
        {% else %}
            店員がいません
        {% endif %}

        <h2 class="mt-4">｜商品一覧</h2>
        <div class="card-group">
            {% for product in page_obj %}
                <div class="col">
                    <div class="card m-3" style="width: 15rem">
                        {% if product.picture %}
                            <img src="{{ product.picture.url }}" alt="{{ product.code }}" class="card-img-top">
                        {% else %}
                            <img src="{% static 'shopping/images/no-image.png' %}" alt="商品画像なし"
                                 class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h6 class="card-title">{{ product.name | truncatechars:12 }}</h6>
                            <p style="font-size: small;" class="card-text">
                                price: @{{ product.price | intcomma }} 円<br>
                                {{ product.description | truncatechars:20 }}
                            </p>
                            <div class="d-flex gap-2">
                                <a href="{% url 'shp:product_detail' product.pk %}" class="btn btn-success">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                                <a href="{% url 'shp:product_edit' product.pk %}" class="btn btn-primary">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}
