{% extends 'shopping/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'shopping/css/register_bulk.css' %}">
{% endblock %}

{% block content %}
<h1>CSV登録</h1>
<p>ヘッダー行は必ずつけてください</p>
<p>ダブルクォートで囲まないでください</p>
<table id="csv_format" class="table">
    <thead>
        <tr><th>code</th><th>name</th><th>price</th><th>description</th></tr>
    </thead>
    <tbody>
        <tr><td>beer2</td><td>アサヒスーパードライ</td><td>302</td><td>缶　３５０ｍｌ</td></tr>
        <tr><td>beer3</td><td>アサヒスーパードライ</td><td>303</td><td>缶　３５０ｍｌ</td></tr>
        <tr><td>beer4</td><td>アサヒスーパードライ</td><td>304</td><td>缶　３５０ｍｌ</td></tr>
        <tr><td>beer5</td><td>アサヒスーパードライ</td><td>305</td><td>缶　３５０ｍｌ</td></tr>
    </tbody>
</table>
<form action="{% url 'shp:register_bulk' %}" method="POST" class="registration" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">UPLOAD</button>
</form>
<a href="{% url 'shp:index' %}">もどる</a>
{% endblock %}
