{% extends 'llm_chat/base.html' %}
{% load static %}
{% load split_ext %}
{% load basename %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">QA with LLM</h1>
        <p class="lead">The system that forms the basis of work</p>
        <hr class="my-4">
        <p>You can talk with Gemini, ChatGPT4, Dall-e-3, TextToSpeech, SpeechToText and RAG</p>
    </div>
    <div class="container">
        {% for chat_log in chat_history %}
            {% if not chat_log.invisible %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ chat_log.role }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            file: {% if chat_log.file.name %} {{ chat_log.file.url | basename }} {% else %} No
                            File {% endif %}
                        </h6>
                        <p class="card-text">{{ chat_log.content }}</p>
                        {% if chat_log.file.name|split_ext == "jpg" %}
                            <img src="{{ chat_log.file.url }}" class="img-fluid" alt="Responsive image">
                        {% elif chat_log.file.name|split_ext == "mp3" %}
                            <audio controls>
                                <source src="{{ chat_log.file.url }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        {% endif %}
                        <div>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <form action="{% url 'llm:index' %}" method="POST">
            {{ form.question.label }} {{ form.question }}
            <br>
            {{ form.use_case_type.label }} {{ form.use_case_type }}
            <br>
            {% csrf_token %}
            {% if is_superuser %}
                <input class="mt-3" type="submit" value="送信">
            {% else %}
                <input class="mt-3" type="submit" value="送信" disabled>
            {% endif %}
        </form>
    </div>
    <script type="text/javascript">
        window.scrollTo(0, document.body.scrollHeight);
    </script>
{% endblock %}
