{% extends "securities/base.html" %}
{% load static %}
{% load humanize %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'securities/css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="custom-section bg-light p-5 rounded">
        <h1 class="display-4">Let's analyze the Security Report!</h1>
        <p class="lead">it's an interesting Securities Report</p>
        <hr class="my-4">
        <p>You can read the Security Report</p>
        <ul>
            <li>
                <a class="btn btn-secondary btn-sm" href="{% url 'sec:counting' %}"
                   role="button">Countingテーブル</a>
            </li>
        </ul>
    </div>

    <div class="container">
        <h2>1. 会社マスタを作成</h2>
        <a class="btn btn-outline-primary mb-3" href="{% url 'sec:edinet_code_upload' %}"
           role="button">EDINETコードリスト取り込み</a>

        <h2 class="mt-5">2. 書類一覧を取得</h2>
        <form method="post" action="{% url 'sec:index' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="start_date">開始日:</label>
                    <input type="text" id="start_date" name="start_date" class="form-control"
                           value="{{ start_date|date:'Y-m-d' }}">
                    {% if form.start_date.errors %}
                        <div class="text-danger">{{ form.start_date.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    <label for="end_date">終了日:</label>
                    <input type="text" id="end_date" name="end_date" class="form-control"
                           value="{{ end_date|date:'Y-m-d' }}">
                    {% if form.end_date.errors %}
                        <div class="text-danger">{{ form.end_date.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">指定した期間の書類一覧を取得</button>
        </form>

        <h2 class="mt-5">3. 有報をダウンロード予約する</h2>
        <button id="submit-for-reserve" class="btn btn-outline-primary">ダウンロード予約する</button>
        <a class="btn btn-outline-info{% if request.GET.reserved == 'yes' %} active{% endif %}"
           href="{% url 'sec:index' %}{% if request.GET.reserved != 'yes' %}?reserved=yes{% endif %}">
            ダウンロード予約済みリスト
        </a>
        <table class="table table-striped table-bordered">
            <thead class="bg-primary text-white">
            <tr>
                <th scope="col"></th>
                <th scope="col">Doc ID</th>
                <th scope="col">EDINET Code</th>
                <th scope="col">Sec Code</th>
                <th scope="col">Corp Number</th>
                <th scope="col">Filer Name</th>
                <th scope="col">Period Start</th>
                <th scope="col">Period End</th>
                <th scope="col">Submit Date Time</th>
                <th scope="col">Doc Description</th>
                <th scope="col">XBRL Flag</th>
            </tr>
            </thead>
            <tbody>
            {% for report_document in object_list %}
                <tr>
                    <td>{% if request.GET.reserved != 'yes' %}
                        <input type="checkbox" value="{{ report_document.id }}" class="report-checkbox">{% endif %}
                    </td>
                    <td>{{ report_document.doc_id }}</td>
                    <td>{{ report_document.company.edinet_code }}</td>
                    <td>{{ report_document.company.securities_code }}</td>
                    <td>{{ report_document.company.corporate_number }}</td>
                    <td>{{ report_document.company.submitter_name }}</td>
                    <td>{{ report_document.period_start }}</td>
                    <td>{{ report_document.period_end }}</td>
                    <td>{{ report_document.submit_date_time }}</td>
                    <td>{{ report_document.doc_description }}</td>
                    <td>{{ report_document.xbrl_flag }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="11">No documents available.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <script>
        document.querySelector('#submit-for-reserve').addEventListener('click', function () {
            const ids = Array.from(document.querySelectorAll('.report-checkbox:checked')).map(box => box.value);

            fetch('{% url 'sec:download_reserve' %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify(ids)
            }).then(function (response) {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok');
            }).then(function (json) {
                if (json.status === "success") {
                    location.reload();
                }
                console.log(json);
            });
        });
    </script>
{% endblock %}
