{% extends 'rental_shop/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Let's issue an invoice.</h1>
        <p class="lead">The system that forms the basis of work</p>
        <hr class="my-4">
        <p>You can issue invoice.</p>
    </div>

    <div class="container">
        <h3 class="mt-4">Menu</h3>
        <ul>
            <li><a href="{% url 'ren:item_create' %}">アイテム登録</a></li>
            <li><a href="{% url 'ren:invoice_create' %}">レンタル手続き</a></li>
            <li>請求書照会
                <ul>
                    <li><a href="{% url 'ren:invoice_list' 1 %}">請求中 の請求書</a></li>
                    <li><a href="{% url 'ren:invoice_list' 2 %}">請求完了 の請求書</a></li>
                    <li><a href="{% url 'ren:invoice_list' 3 %}">請求無効 の請求書</a></li>
                </ul>
            </li>
        </ul>

        <!-- Start Tabs -->
        <div class="mt-4">
            <ul class="nav nav-tabs" role="tablist">
                {% for warehouse in warehouses %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if warehouse.instance.pk == current_warehouse_id %}active{% endif %}"
                           id="warehouse-{{ warehouse.instance.pk }}-tab" data-toggle="tab"
                           href="#warehouse-{{ warehouse.instance.id }}"
                           role="tab">{{ warehouse.instance.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% if warehouses %}
                    {% for warehouse in warehouses %}
                        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                             id="warehouse-{{ warehouse.instance.pk }}" role="tabpanel">

                            <h3 class="mt-4">{{ warehouse.instance.name }} の貸出中のアイテム</h3>
                            {% if warehouse.non_available_items|length > 0 %}
                                {% for item in warehouse.non_available_items %}
                                    <ul>
                                        <li class="text-danger">{{ item.name }}</li>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-warning" role="alert">
                                    貸し出しているアイテムはありません。
                                </div>
                            {% endif %}

                            <h3 id="info" class="mt-4">在庫</h3>
                            <h5>貸し出せるアイテムが棚のどこにありますか？</h5>
                            <table class="table table-striped table-bordered">
                                <thead class="bg-primary text-white">
                                <tr>
                                    <td></td>
                                    {# 現時点では倉庫に紐づく棚は1要素 shelves.0 が前提になっています issue180 #}
                                    {% for cell in warehouse.shelves.0.rows.0.cells %}
                                        <td class="text-center">{{ forloop.counter }}列目</td>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {# 現時点では倉庫に紐づく棚は1要素 shelves.0 が前提になっています issue180 #}
                                {% for row in warehouse.shelves.0.rows %}
                                    <tr>
                                        <td>{{ forloop.revcounter }}段目</td>
                                        {% for cell in row.cells %}
                                            <td class="text-center">{{ cell.item_count }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <h5>貸し出しできるアイテム</h5>
                            <form method="post" action="{% url 'ren:reset_items' warehouse.instance.pk %}" class="mb-2">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-secondary">リセット</button>
                            </form>
                            {% if warehouse.available_items|length > 0 %}
                                <table class="table table-striped table-bordered">
                                    <thead class="bg-primary text-white text-center">
                                    <tr>
                                        <td>段</td>
                                        <td>列</td>
                                        <td>シリアルナンバー</td>
                                        <td>アイテム名</td>
                                        <td>金額</td>
                                        <td>操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in warehouse.available_items %}
                                        <tr>
                                            <td class="text-center">{{ item.pos_y }}</td>
                                            <td class="text-center">{{ item.pos_x }}</td>
                                            <td>{{ item.serial_number }}</td>
                                            <td><a href="{% url 'ren:item_detail' item.pk %}">{{ item.name }}</a></td>
                                            <td class="text-right">{{ item.price }}円</td>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <form method="post"
                                                          action="{% url 'ren:rent_item' item.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn-outline-primary btn-sm class=
                                                                text-center">貸出
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="alert alert-warning" role="alert">
                                    貸出できるアイテムがありません。
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        倉庫はありません。
                    </div>
                {% endif %}
        </div>
        <!-- End Tabs -->
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let warehouseId = new URLSearchParams(window.location.search).get('warehouse_id');
            if (warehouseId) {
                let hash = '#warehouse-' + warehouseId;
                $(hash + '-tab').tab('show');
            }
            $('a[data-toggle="tab"]').on('shown.bs.tab', function () {
                let id = $(this).attr('href');
                history.replaceState(null, null, '?warehouse_id=' + id.split('-')[1]);
            })
        });
    </script>
{% endblock %}
