{% extends 'shopping/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shopping/css/product/detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <p>{{ message }}</p>

        <!-- 商品情報の表示 -->
        <h1>{{ object.name }}</h1>
        <div class="product-image-container">
            <img src="{{ object.picture.url }}" alt="{{ object.name }}" class="product-image">
        </div>
        <p class="lead">{{ object.created_at }} - {{ object.price }}円</p>
        <p>{{ object.description | linebreaksbr }}</p>

        <!-- 数量選択フォーム -->
        <form method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
                {{ purchase_form.quantity.label_tag }}
                {{ purchase_form.quantity }}
                {% if purchase_form.quantity.errors %}
                    <div class="alert alert-danger">
                        {{ purchase_form.quantity.errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" name="confirm" class="btn btn-primary">購入手続きへ進む</button>
            <a href="{% url 'shp:index' %}" role="button" class="btn btn-outline-secondary mx-1">戻る</a>
        </form>
    </div>
{% endblock %}
