{% extends 'shopping/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shopping/css/product/edit.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>商品の編集</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary mx-1" type="submit">送信</button>
            <a href="{% url 'shp:index' %}" role="button" class="btn btn-outline-secondary mx-1">戻る</a>
        </form>
    </div>
{% endblock %}
