{% extends 'shopping/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>CSV登録</h1>
        <p>ヘッダー行は必ずつけてください</p>
        <p>ダブルクォートで囲まないでください</p>
        <table id="csv_format" class="table">
            <thead>
            <tr>
                <th>code</th>
                <th>name</th>
                <th>price</th>
                <th>description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>beer2</td>
                <td>アサヒスーパードライ</td>
                <td>302</td>
                <td>缶　３５０ｍｌ</td>
            </tr>
            <tr>
                <td>beer3</td>
                <td>アサヒスーパードライ</td>
                <td>303</td>
                <td>缶　３５０ｍｌ</td>
            </tr>
            <tr>
                <td>beer4</td>
                <td>アサヒスーパードライ</td>
                <td>304</td>
                <td>缶　３５０ｍｌ</td>
            </tr>
            <tr>
                <td>beer5</td>
                <td>アサヒスーパードライ</td>
                <td>305</td>
                <td>缶　３５０ｍｌ</td>
            </tr>
            </tbody>
        </table>
        <form action="{% url 'shp:product_register_bulk' %}" method="POST" class="registration"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary mx-1" type="submit">送信</button>
            <a href="{% url 'shp:index' %}" role="button" class="btn btn-outline-secondary mx-1">戻る</a>
        </form>
    </div>
{% endblock %}
