{% extends 'warehouse/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Let's issue an invoice.</h1>
        <p class="lead">The system that forms the basis of work</p>
        <hr class="my-4">
        <p>You can issue invoice.</p>
    </div>

    <div class="container">
        <h3 class="mt-4">Menu</h3>
        <ul>
            <li><a href="{% url 'war:item_create' %}">アイテム登録</a></li>
            <li><a href="{% url 'war:invoice_create' %}">レンタル手続き</a></li>
            <li>請求書照会
                <ul>
                    <li><a href="{% url 'war:invoice_list' 1 %}">請求中 の請求書</a></li>
                    <li><a href="{% url 'war:invoice_list' 2 %}">請求完了 の請求書</a></li>
                    <li><a href="{% url 'war:invoice_list' 3 %}">請求無効 の請求書</a></li>
                </ul>
            </li>
        </ul>

        <!-- Start Tabs -->
        <div class="mt-4">
            <ul class="nav nav-tabs" role="tablist">
                {% for warehouse in warehouses %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if forloop.first %}active{% endif %}"
                           id="warehouse-{{ warehouse.pk }}-tab" data-toggle="tab" href="#warehouse-{{ warehouse.pk }}"
                           role="tab">Warehouse {{ warehouse.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for warehouse in warehouses %}
                    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                         id="warehouse-{{ warehouse.pk }}" role="tabpanel">

                        <h3 class="mt-4">{{ warehouse.name }}貸出中のアイテム</h3>
                        {% if warehouse.non_available_items|length > 0 %}
                            {% for item in warehouse.non_available_items %}
                                <ul>
                                    <li class="text-danger">{{ item.name }}</li>
                                </ul>
                            {% endfor %}
                        {% else %}
                            <ul>
                                <li>貸し出しているアイテムはありません</li>
                            </ul>
                        {% endif %}

                        <h3 id="info" class="mt-4">在庫</h3>
                        <h5>貸し出せるアイテムが棚のどこにありますか？</h5>
                        <table class="table table-sm table-bordered">
                            <thead>
                            <tr>
                                <td class="diagonal-stroke"></td>
                                {% for cell in warehouse.shelves.0.rows.0.cells %}
                                    <td class="text-center table-primary">{{ forloop.counter }}列目</td>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in warehouse.shelves.0.rows %}
                                <tr>
                                    <td class="table-primary">{{ forloop.revcounter }}段目</td>
                                    {% for cell in row.cells %}
                                        <td class="text-center">{{ cell.item_count }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- End Tabs -->

        <h5>貸し出しできるアイテム</h5>
        <form method="post" action="{% url 'war:reset' %}" class="mb-2">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary">リセット</button>
        </form>
        {% if available_items|length > 0 %}
            <table class="table table-sm table-bordered">
                <colgroup span="2" class="table-primary"></colgroup>
                <thead>
                <tr>
                    <td>段</td>
                    <td>列</td>
                    <td>シリアルナンバー</td>
                    <td>アイテム名</td>
                    <td>金額</td>
                </tr>
                </thead>
                <tbody>
                {% for item in available_items %}
                    <tr>
                        <td>{{ item.pos_y }}</td>
                        <td>{{ item.pos_x }}</td>
                        <td>{{ item.serial_number }}</td>
                        <td><a href="{% url 'war:item_detail' item.pk %}">{{ item.name }}</a></td>
                        <td>{{ item.price }}円</td>
                        <td>
                            <form method="post" action="{% url 'war:index_choose' item.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn-outline-secondary btn-sm">貸出</button>
                            </form>
                            <button type="submit" class="btn-outline-secondary btn-sm" disabled>返却</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            貸出できるアイテムがありません
        {% endif %}
    </div>
{% endblock %}
