{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43097095-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-43097095-9');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>病院事務VBAのWeb版</title>

    <!-- bootstrap and css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'hospital/css/index.css' %}">
    {% block extra_css %}{% endblock %}

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <!-- fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'hospital/c_h.ico' %}">
</head>
<body>
<h1></h1>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home:index' %}">Henojiya</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <select class="custom-select d-flex align-items-center" onChange="location.href=value;">
                        <option value="{% url 'home:index' %}" {% if request.path == '/' %}selected{% endif %}>HOME
                        </option>
                        <option value="{% url 'vnm:index' %}"
                                {% if request.path == '/vietnam_research/' %}selected{% endif %}>VIETNAM
                        </option>
                        <option value="{% url 'mrk:index' %}" {% if request.path == '/gmarker/' %}selected{% endif %}>
                            GMARKER
                        </option>
                        <option value="{% url 'shp:index' %}" {% if request.path == '/shopping/' %}selected{% endif %}>
                            SHOPPING
                        </option>
                        <option value="{% url 'ren:index' %}"
                                {% if request.path == '/rental_shop/' %}selected{% endif %}>RENTAL_SHOP
                        </option>
                        <option value="{% url 'txo:index' %}" {% if request.path == '/taxonomy/' %}selected{% endif %}>
                            TAXONOMY
                        </option>
                        <option value="{% url 'soil:home' %}"
                                {% if request.path == '/soil_analysis/' %}selected{% endif %}>SOIL ANALYSIS
                        </option>
                        <option value="{% url 'sec:index' %}"
                                {% if request.path == '/securities/' %}selected{% endif %}>SECURITIES REPORT
                        </option>
                        <option value="{% url 'hsp:index' %}" {% if request.path == '/hospital/' %}selected{% endif %}>
                            HOSPITAL
                        </option>
                        <option value="{% url 'llm:index' %}" {% if request.path == '/llm_chat/' %}selected{% endif %}>
                            LLM_CHAT
                        </option>
                        <option value="{% url 'agt:index' %}" {% if request.path == '/ai_agent/' %}selected{% endif %}>
                            AI_AGENT
                        </option>
                        <option value="{% url 'jpn:index' %}" {% if request.path == '/jp_stocks/' %}selected{% endif %}>
                            JP_STOCKS
                        </option>
                    </select>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="alt + / で検索" aria-label="Search"
                       accesskey="/">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<div id="main">
    {% block content %}{% endblock %}
</div>
<footer>
    <p>© 2019 henojiya. / <a href="https://github.com/duri0214" target="_blank">github portfolio</a></p>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

{% block extra_js %}{% endblock %}
</body>
</html>
