{% extends "hospital/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Let's work at the hospital!</h1>
        <p class="lead">improving proxi voting operations.</p>
        <hr class="my-4">
        <p>You can do hospital administration too.</p>
        <ul>
            <li><a class="btn btn-secondary btn-sm" href="#" role="button">XXXX</a></li>
            <li><a class="btn btn-secondary btn-sm" href="#" role="button">YYYY</a></li>
        </ul>
    </div>

    <div class="container">
        <p>これはサンプルです</p>
    </div>

{% endblock %}
