{% extends "hospital/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Let's work at the hospital!</h1>
        <p class="lead">improving proxi voting operations.</p>
        <hr class="my-4">
        <p>You can do hospital administration too.</p>
        <ul>
            <li>
                <a class="btn btn-secondary btn-sm"
                   href="{% url 'hsp:export_billing_list' %}?election={{ request.GET.election }}"
                   onclick="onExport(event, {{ canExport|yesno:'true,false' }})"
                   role="button"
                   style="{% if not canExport %}opacity:0.65; cursor:not-allowed;{% endif %}">
                    請求者名簿
                </a>
            </li>
            <li>
                <a class="btn btn-secondary btn-sm"
                   href="{% url 'hsp:export_voting_management_list' %}?election={{ request.GET.election }}"
                   onclick="onExport(event, {{ canExport|yesno:'true,false' }})"
                   role="button"
                   style="{% if not canExport %}opacity:0.65; cursor:not-allowed;{% endif %}">
                    不在者投票事務処理簿
                </a>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="form-group">
            <form method="get">
                <select name="election" class="form-control" onchange="onElectionChangeHandler(this)">
                    <option value="">-- 選挙を選択 --</option>
                    {% for election in elections %}
                        <option value="{{ election.id }}"
                                {% if request.GET.election == election.id|stringformat:"s" %}selected{% endif %}>
                            {{ election.name }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <a href="{% url 'hsp:election_ledger_create' %}" class="btn btn-outline-primary"
           role="button">新規投票記録を追加</a>
        <table class="table table-striped table-bordered">
            <thead class="bg-primary text-white">
            <tr>
                <th scope="col">病棟名</th>
                <th scope="col">投票区名</th>
                <th scope="col">取込日</th>
                <th scope="col">選挙人氏名</th>
                <th scope="col">選挙人住所</th>
                <th scope="col">選挙人生年月日</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for ledger in electionledger_list %}
                <tr>
                    <td>{{ ledger.vote_ward }}</td>
                    <td>{{ ledger.vote_city_sector }}</td>
                    <td>{{ ledger.created_at|date:"Y-m-d" }}</td>
                    <td>{{ ledger.voter }}</td>
                    <td>{{ ledger.voter.userattribute.address }}</td>
                    <td>{{ ledger.voter.userattribute.date_of_birth|date:"Y-m-d" }}</td>
                    <td>
                        <a href="{% url 'hsp:election_ledger_detail' ledger.id %}" class="btn btn-outline-info">詳細</a>
                        <a href="{% url 'hsp:election_ledger_update' ledger.id %}"
                           class="btn btn-outline-primary">更新</a>
                        <a href="{% url 'hsp:election_ledger_delete' ledger.id %}"
                           class="btn btn-outline-danger">削除</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8">No ledger available.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        function onElectionChangeHandler(selectElement) {
            if (selectElement.value === "") {
                // 選択が選択解除されている場合は、クエリ文字列なしで同じページにリダイレクトします
                location.href = location.pathname;
            } else {
                // 選択した選挙 ID をクエリパラメータとして URL を更新します
                const urlParams = new URLSearchParams(window.location.search);
                urlParams.set('election', selectElement.value);
                window.location.search = urlParams.toString();
            }
        }

        function onExport(event, canExport) {
            if (!canExport) {
                event.preventDefault();
            }
        }
    </script>
{% endblock %}
